*{
    box-sizing: border-box;
}

body{
    background-color: rgba(0,0,0,0.16);
}

.isCompleted{
  text-decoration: line-through;
}

/* Temel stil ayarları */
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
}

/* Gizli checkbox input'un görünürlüğünü kapatma */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Checkbox simgesi tasarımı */
.checkbox-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 50%;
}

/* Checkbox işaretini stilendirme */
.custom-checkbox input:checked ~ .checkbox-icon {
    background-color: #2196F3;
}

/* İşaret simgesini oluşturma */
.checkbox-icon:after {
    content: "";
    position: absolute;
    display: none;
}

/* Checkbox işareti gösterme durumu */
.custom-checkbox input:checked ~ .checkbox-icon:after {
    display: block;
}

/* İşaret simgesinin stilini ayarlama */
.custom-checkbox input:checked ~ .checkbox-icon:after {
    left: 7.2px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
